<div class="container">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile" (change)="fileChangeEvent($event)"
      accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
    <label class="custom-file-label" for="customFile">Choose file</label>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button *ngFor="let _sheet of sheets" (click)="onClick(_sheet)" type="button" class="btn btn-{{_sheet == sheet ? 'primary' : 'secondary'}}">{{_sheet}}</button>
  </div>
  <table class="table">
    <tr *ngFor="let rows of result[sheet];let i = index">
      <td *ngFor="let col of rows">{{col}}</td>
    </tr>
  </table>
</div>